DBServer/Log/
LoginSrv/ChrLog/
LoginSrv/CountLog/
LogServer/BaseDir/
LoginSrv/CountLog/
Mir200/ConLog/
Mir200/Envir/Market_Prices/
Mir200/Envir/Market_Saved/
Mir200/Log/
Mud2/DB/Back/
Mir200/Envir/QuestDiary/数据文件/存仓列表/
RunGate/Screenshot/
Mir200/Envir/QuestDiary/数据文件/邮箱/*.txt
Mir200/Envir/QuestDiary/数据文件/邮箱/邮箱道具库
Mir200/Envir/QuestDiary/数据文件/跟随目录
*.bak*
登录器/debug/
工具/
*.CHM
*.cache
*.DB-shm
*.DB-wal
*.exe
*.DB
Mir200/!Setup.txt
Mir200/GlobalVal.ini
Mir200/Envir/AdminList.txt
Mir200/Envir/QuestDiary/数据文件/
登录器/liebiao.txt
Mir200/Castle/0/SabukW.txt
SelGate/DataLog/
